/* This file is for your main application css. */

@import "../../deps/phoenix_live_view/assets/css/live_view.css";

:root {
  --beige: #e1c699;
  --red: #FFA6A6;
  --blue: #89cff0;
  --gray: #eeeeee;
}

.game__cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
}

.game__card-container {
  display: flex;
  width: 120px;
  margin: 12px;
  height: 72px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;

  transition: transform .1s;
  background-color: var(--beige)
}

.game__card-container:hover {
  transform: translate(5px, -10px) rotate(2deg);
}

.game__card-container__chosen-team-1 {
  display: flex;
  width: 120px;
  margin: 12px;
  height: 72px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;

  background-color: var(--red);
}

.game__card-container__chosen-team-2 {
  display: flex;
  width: 120px;
  margin: 12px;
  height: 72px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;

  background-color: var(--blue);
}

.game__card-container__chosen-neutral {
  display: flex;
  width: 120px;
  margin: 12px;
  height: 72px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;

  background-color: var(--gray);
}

.game__card-container__chosen-bomb {
  display: flex;
  width: 120px;
  margin: 12px;
  height: 72px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;

  background-color: black;
}
