/* This file is for your main application css. */

@import "./normalize.css";

:root {
  --beige: #e1c699;
  --red: #FFA6A6;
  --blue: #89cff0;
  --gray: #eeeeee;
  --off-white: #FFFAF0;

  --small: 12px;
  --medium: 24px;

  --base-radius: 4px;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: auto;
}

button {
  margin: var(--small);
  padding: var(--small);
}

.modal-container {
  width: 100vh;
  height: 100vh;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  background-color: transparent;

  align-items: center;
  justify-content: center;
}

.none {
  display: none;
}

.display {
  display: flex;
}

.red-modifier {
  color: var(--red);
}

.blue-modifier {
  color: var(--blue);
}

@import "./root.css";
@import "./game.css";
@import "./lobby.css"
